:root {
    font-size: 16px;
}
* {
    box-sizing: border-box;
}
html,
body,
hr {
    margin: 0;
    padding: 0;
}
#big-center {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
#content {
    width: 1200px;
    max-width: 100%;
    min-width: 750px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
#content hr {
    width: 50%;
    align-self: center;
}
#name {
    font-size: 2rem;
}
#nav {
    background-color: #393e46;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0.75rem;
    width: fit-content;
    align-self: center;
}
#nav a:hover {
    background-color: #00adb5;
}
#nav a:active,
#nav a:visited,
#nav a:link,
#nav a:hover,
#nav a:focus,
#name a:active,
#name a:visited,
#name a:link,
#name a:hover,
#name a:focus {
    color: #eeeeee;
    padding: 0.5rem 1rem;
    width: 200px;
    text-align: center;
}
#nav a:active:first-child,
#nav a:visited:first-child,
#nav a:link:first-child,
#nav a:hover:first-child,
#nav a:focus:first-child {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}
#nav a:active:last-child,
#nav a:visited:last-child,
#nav a:link:last-child,
#nav a:hover:last-child,
#nav a:focus:last-child {
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}
#project_devtalk a {
    color: #eeeeee;
}
body {
    color: #eeeeee;
    background-color: #222831;
}
#blurb,
#skills,
#education,
.project {
    padding: 0.5rem 1rem;
}
#skills {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}
#skills-grid {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-self: center;
}
.skill-item {
    width: fit-content;
    background-color: #393e46;
    padding: 1rem 2rem;
    margin: 0.5rem;
    border: 2px solid black;
    border-radius: 1rem;
    border-left: 0px;
    border-right: 0px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
}
#headshot {
    width: 300px;
    border-radius: 100%;
}
#plate {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #393e46;
    margin-left: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
}
#plate:hover {
    background-color: #00adb5;
}
#plate h3 {
    margin: 12px 0;
}
#FillSpace {
    flex-grow: 1;
}
footer {
    background-color: #393e46;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
#resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-item:hover {
    background-color: #00adb5;
}
.header {
    font-weight: bold;
    text-align: center;
}
.data {
    padding: 0.25rem 0.5rem;
}
details,
summary {
    width: 95%;
}
details {
    padding: 1rem 2rem;
}
#form {
    padding: 0.5rem 1rem;
}
#something {
    padding-left: 40px;
}

@media screen and (max-width: 750px) {
    .center {
        flex-direction: column;
    }
    #width {
        width: 1200px;
        max-width: 100%;
        min-width: 0;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
    #nav a:active,
    #nav a:visited,
    #nav a:link,
    #nav a:hover,
    #nav a:focus {
        width: fit-content;
    }
}
